# PostgreSQL
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_NAME=auth_service

# PostgreSQL connection
DATABASE_URL=postgresql://your_database_user:your_database_password@localhost:5432/auth_service

